.container {
	grid-column: 2/4;
	grid-row: 9/12;
	color: whitesmoke;
}
.card {
    background-color: rgba(0, 0, 0, 0.5);
    width: 90%;
    height: 60px;
    border-radius: 15px;
    padding: 10px;
}