body {
	background-image: url('./assets/table_bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  appearance: none;
  border: none;
  margin: 0;
  padding: 0;
  background: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  outline: none;
  /* Additional styles to fit your design */
}

.app-container {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(14, 1fr);
	grid-template-rows: repeat(12, 1fr);

}
.dealer-hand-container {
	grid-column: 6/12;
	grid-row: 2/5;
	display: flex;
	text-align: center;
}
.player-hand-container {
	grid-column: 6/12;
	grid-row: 9/12;
	display: flex;

}

.card-deck-container {
	grid-column: 12/14;
	grid-row: 6/9;
	background-color: greenyellow;
}

.general-btn {
	padding: 20px;
}
